.nav-bar {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar h3 {
    display: flex;
    gap: 10px;
    color: var(--Dark-01, #131318);
    font-size: 2rem;
    font-weight: 800;
}

.hamburger {
    display: none;
}

.nav-bar ul {
    display: flex;
    gap: 20px;

}

.nav-home {
    color: #FF5400;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.banner {
    max-width: 1200px;
    height: 550px;
    margin: 0 auto;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),
        url(./B9A2-Hero-Travel-main/Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    border-radius: 15px;
}

.banner-content {
    text-align: center;
    padding-top: 50px;
}

.banner-content h2 {
    color: #FFF;
    font-family: Mulish;
    font-size: 4rem;
    font-weight: 800;
}

.banner-content p {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-weight: 400;
    width: 600px;
    margin-left: 300px;
}

.input {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    justify-content: center;
    padding: 16px;
    gap: 24px;
    margin: 0 90px;
}

.non-btn {
    width: 124px;
    height: 32px;
    border-radius: 8px;
    border: none;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-weight: 400;
    padding: 13px 75px 15px 15px;
}

.btn-primary {
    width: 174px;
    height: 62px;
    border-radius: 8px;
    border: none;
    color: #FFF;
    text-align: center;
    font-weight: 700;
    padding: 13px 13px 13px 30px;
    background: #FF5400;
}

/*main styles-tour*/

.tour {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
}

.title {
    color: #131318;
    font-size: 2.4rem;
    font-weight: 800;
}

.tour-content {
    width: 550px;
}

.info {
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
    line-height: 26px;
    margin-top: 18px;
}

.tour-content li {
    margin-top: 18px;
}

.tour-img {
    width: 50%;
    margin-left: 130px;
    margin-top: 60px;
}

.destination {
    width: 1200px;
    margin: 0 auto;
    margin-top: 80px;
}

.destination-title {
    text-align: center;

}

.spot-conteinar {
    display: flex;
    width: 570px;
    height: 300px;
    gap: 24px;
    margin-top: 24px;
}

.spot-conteinar>div {
    position: relative;
    text-align: center;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 800;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.choose-us-title {
    text-align: center;
}

.card-info {
    width: 486px;
    color: #5A5A5D;
    font-weight: 400;
}

.cards {
    display: flex;
    gap: 15px;
}

.hotel-card {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 570px;
    height: 200px;
    padding: 52px 32px 32px 32px;
}

.map-card {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 570px;
    height: 200px;
    padding: 52px 32px 32px 32px;
}

.offer {
    margin-top: 15px;
    margin-left: 270px;
}

.news-letter {
    border-radius: 16px;
    border: 1px solid #FF5400;
    width: 474px;
    height: 430px;
    display: grid;
    gap: 6px;
}

.news-letter h3 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin-left: 40px;
}

.news-letter img {
    width: 672px;
    height: 430px;
}

.news-info {
    margin-left: 40px;
    width: 350px;
    color: #5A5A5D;
    font-weight: 400;
}

.news {
    display: flex;
    justify-content: space-between;
}

hr {
    background: rgba(19, 19, 24, 0.10);
    width: 393px;
    height: 1px;
}

.news-input input {
    width: 373px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-left: 40px;
    margin-top: 16px;
    border: none;
    padding-left: 20px;

}

.subscribe {
    width: 373px;
    height: 52px;
    margin-left: 40px;
}

.sell p {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

.sell h3 {
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
    padding-bottom: 60px;
}

.sell {
    position: absolute;
    width: 304px;
    height: 120px;
    transform: rotate(-19.628deg);
    margin-left: 840px;
    margin-top: 220px;
}

.footer {
    width: 100%;
    height: 502px;
    background: rgba(19, 19, 24, 0.05);
    margin-top: 80px;
}

.footer h3 {
    display: flex;
    gap: 10px;
    color: var(--Dark-01, #131318);
    font-size: 2rem;
    font-weight: 800;
    justify-content: center;
    padding-top: 120px;
}

.footer p {
    color: #5A5A5D;
    text-align: center;
    font-weight: 400;
    justify-content: center;
}

.icons {
    text-align: center;
    justify-content: center;
}

.footer hr {
    background: rgba(19, 19, 24, 0.10);
    width: 872px;
    height: 1px;
}

.vacation {
    color: #FF5400;
    font-size: 2rem;
    font-weight: 800;
}

.new-year-offer {
    width: 1200px;
    height: 550px;
    margin: 0 auto;
    margin-top: 80px;
    background-image: url(./B9A2-Hero-Travel-main/Images/iffel.png);
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
}

.offer-content {
    text-align: center;
    padding-top: 50px;
}

.offer-content button {
    margin-top: 120px;
}

.deal-discount {
    width: 1200px;
    margin: 0 auto;
    gap: 24px;
    margin-top: 80px;
    display: grid;
}

.deal-title {
    text-align: center;
}

.icon-title {
    display: flex;
    gap: 20px;
}

.icon-title p {
    display: flex;
    gap: 10px;
}

.price {
    color: #FF5400;
    font-size: 18px;
    font-weight: 700;
}

.discount-info-1 {
    background-image:
        url(./B9A2-Hero-Travel-main/Images/Group\ 39.png);
    width: 1170px;
    height: 500px;
    margin-top: 24px;
}

.discount-content {
    margin-left: 600px;
    width: 530px;
    height: 280px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 0 30px;
    position: relative;
    right: 70px;
    top: 70px;
}

.discount-info-dif {
    background-image:
        url(./B9A2-Hero-Travel-main/Images/Group\ 40.png);
    width: 1170px;
    height: 500px;
}

.discount-content-dif {
    margin-left: 70px;
    width: 530px;
    height: 280px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 0 30px;
    position: relative;
    top: 70px;
}

.deal-btn {
    margin-left: 500px;
}
.place-to-go{
    position: relative;
    text-align: center;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 60px;
    margin-top: 50px;
}

@media screen and (max-width:600px) {
    .nav-bar {
        width: 396px;
    }

    .nav-anchor {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .banner {
        max-width: 396px;
        height: 550px;
    }

    .banner-content h2 {
        font-size: 1.5rem;
    }

    .banner-content p {
        width: 300px;
        margin-left: 60px;
    }

    .input {
        flex-direction: column;
        gap: 16px;
        margin-left: 40px;
        padding-left: 50px;
        width: 260px;
    }

    .btn-primary {

        width: 212px;
        height: 52px;

    }

    .tour {
        flex-direction: column;

    }

    .tour-content {
        width: 396px;
    }

    .tour-img {
        margin-left: 0;
        width: 350px;
    }

    .destination {
        width: 396px;
    }

    .spot-conteinar {
        width: 396px;
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
    }

    .spot-conteinar img {
        width: 395px;
        height: 176px;

    }

    .cards {
        flex-direction: column;
        width: 335px;
        height: 100%;
    }

    .cards p {
        width: 250px;
    }

    .offer {
        margin-left: 0;
    }

    .news {
        flex-direction: column;
        gap: 20px;
    }

    .news-letter {
        width: 395px;
    }

    hr {
        width: 343px;
    }

    .news-input input {
        width: 300px;
    }

    .news-letter img {
        width: 335px;
        height: 300px;
    }

    .sell {
        margin-left: 65px;
        margin-top: 680px;
        width: 275px;
        height: 120px;
    }

    .footer hr {
        width: 315px;
    }

    .new-year-offer {
        width: 396px;
    }

    .deal-discount {
        width: 396px;
    }

    .discount-info-1 {
        width: 396px;
        height: 500px;
    }

    .discount-content {
        margin-left: 70px;
        width: 330px;
        height: 330px;
        padding: 0 30px;
        position: relative;
        top: 165px;
    }

    .discount-info-dif {
        width: 396px;
        height: 500px;
    }

    .discount-content-dif {
        margin-left: 0;
        width: 330px;
        height: 330px;
        padding: 0 30px;
        position: relative;
        top: 165px;
    }

    .deal-discount p {
        width: 220px;
    }

    .deal-btn {
        margin-left: 80px;
    }

    .deal-title p {
        margin-left: 80px;
    }
    .place-to-go{
        width: 395px;
        margin-left: 0px;
    }
}